<launch>

  <!-- <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch"/> -->
  
  <!-- Node for base to tool transformation -->
  <node name="base2tool0_tf_node" pkg="tf_trans" type="base2tool0_tf.py" output="screen">
    <!-- If you have any ROS parameters, include them here -->
    <!-- <param name="some_parameter" value="some_value" /> -->
  </node>

  <!-- Node for camera to point transformation -->
  <node name="cam2point_tf_node" pkg="tf_trans" type="cam2point_tf.py" output="screen">
    <!-- If you have any ROS parameters, include them here -->
    <!-- <param name="some_parameter" value="some_value" /> -->
  </node>

  <!-- Node for base to point transformation -->
  <node name="base2point_tf_node" pkg="tf_trans" type="base2point_tf.py" output="screen">
    <!-- If you have any ROS parameters, include them here -->
    <!-- <param name="some_parameter" value="some_value" /> -->
  </node>
</launch>
