<launch>
    <arg name="offline"          default="false"/>
    <include unless="$(arg offline)" 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="filters"               value="pointcloud"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>
    
    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node> -->

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <!-- <param name="/rtabmap/rtabmap/Grid/CellSize" value="0.01"/>
        <param name="Rtabmap/DetectionRate" value="0.9"/> -->
        <!-- <param name="Rtabmap/DetectionRate" type="string" value="0.9"/> -->

        <arg name="rtabmap_args" value="--delete_db_on_start"/>
        <arg name="database_path" value="~/catkin_ws/rtabmap.db"/>
        <arg name="cfg" value="~/catkin_ws/rtabmap.ini"/>
        
        <!-- <arg name="frame_id" value="odom"/> -->
        <!-- <arg name="queue_size"         value="200"/> -->

        <arg name="visual_odometry"         value="false"/>
        <!-- <arg name="icp_odometry"         value="false"/> -->
        <arg name="odom_topic"         value="/odom"/>

        <!-- <arg name="scan_cloud_assembling" value="true"/> -->

        <arg name="rgb_topic" value="/camera/color/image_raw"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
        
        <arg name="localization" value="false"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="rviz" value="false"/>

    </include>

    <!-- <include file="$(find robot_localization)/launch/ukf_template.launch"/>
    <param name="/ukf_se/frequency" value="50"/>
    <param name="/ukf_se/base_link_frame" value="base_link"/>
    <param name="/ukf_se/odom_frame" value="odom"/>
    <param name="/ukf_se/odom0" value="/odom"/>
    <rosparam param="/ukf_se/odom0_config">[true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true]
    </rosparam>
    <param name="/ukf_se/odom0_relative" value="true"/>
    <param name="/ukf_se/odom0_pose_rejection_threshold" value="10000000"/>
    <param name="/ukf_se/odom0_twist_rejection_threshold" value="10000000"/>

    <param name="/ukf_se/imu0" value="/imu/data"/>
    <rosparam param="/ukf_se/imu0_config">[false, false, false,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true]
    </rosparam>
    <param name="/ukf_se/imu0_differential" value="true"/>
    <param name="/ukf_se/imu0_relative" value="false"/>
    <param name="/ukf_se/use_control" value="false"/> -->
    <!-- <param name="/ukf_se/odom0_config" value="{true,true,true,}"/> -->

    <!-- <node pkg='tf' type='static_transform_publisher' name='tf_odom' args='0 0 0 0 0 0 1 map odom 0.001' /> -->
    <!-- <node pkg='tf' type='static_transform_publisher' name='tf_base_link' args='0 0 0 0 0 0 1 odom base_link 0.001' /> -->
    <!-- <node pkg='tf' type='static_transform_publisher' name='tf_tool0' args='0 0 0 0 0 0 1  base_link camera_link 0.001' /> -->

</launch>
